button {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  border-radius: 2px;
  background: #e8e8e8;
  color: #25291c;
  cursor: pointer;
}
button:focus,
button:hover {
  border: 1px solid dimgray;
  background: #c2c2c2;
  color: #070600;
}

select {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  border-radius: 2px;
  background: #e8e8e8;
  color: #25291c;
  cursor: pointer;
  display: block;
}
select:focus,
select:hover {
  border: 1px solid dimgray;
  background: #c2c2c2;
  color: #070600;
}

input[type="text"],
input[type^="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="url"] {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: block;
  width: 100%;
  border-radius: 0;
  display: block;
}
input[type="text"]:focus,
input[type^="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="url"]:focus {
  border: 1px solid dimgray;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  border-radius: 2px;
  background: #e8e8e8;
  color: #25291c;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover {
  border: 1px solid dimgray;
  background: #c2c2c2;
  color: #070600;
}

input[type="color"],
input[type="file"] {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  border-radius: 2px;
  background: #e8e8e8;
  color: #25291c;
  cursor: pointer;
  display: block;
}
input[type="color"]:focus,
input[type="color"]:hover,
input[type="file"]:focus,
input[type="file"]:hover {
  border: 1px solid dimgray;
  background: #c2c2c2;
  color: #070600;
}

input[type="color"] {
  width: 4em;
  height: 2em;
}

input[type="file"] {
  width: 100%;
}

textarea {
  box-sizing: border-box;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
  transition: border 200ms;
  display: block;
  width: 100%;
  border-radius: 0;
}
textarea:focus {
  border: 1px solid dimgray;
}

pre {
  background: #f2f2f2;
  border: 1px solid #e8e8e8;
  border-radius: 1px;
  font-family: Consolas, Courier, monospace;
  margin: 0;
}
pre > code {
  display: block;
  padding: 10px 15px;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  background: transparent;
  border: none;
}

code {
  background: #f2f2f2;
  border: 1px solid #e8e8e8;
  border-radius: 1px;
  font-family: Consolas, Courier, monospace;
  padding: 0.0625em 0.3125em;
}
