@charset "UTF-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Mono';
  src: url('fonts/pt-mono-v13-cyrillic_latin-regular.woff2');
}

body {
  font-family: 'PT Mono', monospace;
  margin: 1em;
  font-size: 1rem;
  line-height: 1.375;
  color: black;
  background-color: white;
}

.body_home {
  background-color: #ffffff;
}
.body_blog {
  background-color: #fff1e5;
}
.body_books {
  background-color: #4c5248;
  color: #ffe8ba;
}
.body_wishlist {
  background-color: #FFFFFF;
}
.body_calendars {
  background-color: #ddedea;
  color: #000;
}
.body_chess {
  background-color: #232424;
  color: #919292;
}

header {
  margin-bottom: 3em;
}

nav {
  margin: 1em 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 1em;
}
nav li:last-child {
  margin-right: 0;
}

footer {
  margin-top: 3em;
}

h1 {
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.hover-opacity {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hover-opacity:hover {
  opacity: 0.75;
}

.book-author {
  opacity: 0.4;
}
.books-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border-top: 16px solid #83492A;
  border-left: 16px solid #83492A;
  border-bottom: 16px solid #83492A;
  border-right: 16px solid #83492A;
}
.books-row {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
  gap: 16px 0;
  background-color: #644A37;
}
.books-row-polka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to top, transparent 0px, #83492A 0px, #83492A 16px, transparent 16px);
  background-size: 100% 316px;
  background-repeat: repeat-y;
}
.books-row-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to right, transparent 0px, #6C3F18 0px, #6C3F18 16px, transparent 16px);
  background-size: 100% 316px;
  background-repeat: repeat-y;
}
.books-row-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to left, transparent 0px, #6C3F18 0px, #6C3F18 16px, transparent 16px);
  background-size: 100% 316px;
  background-repeat: repeat-y;
}
.books-row-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to top, rgba(84,49,29,1) 0px, rgba(84,49,29,1) 32px, transparent 32px, transparent 280px, #080101 316px);
  background-size: 100% 316px;
}
.books-row-corner-left-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(135deg, transparent 0px, #6C3F18 0px, #6C3F18 11px, transparent 11px);
  background-size: 100% 316px;
  background-position-y: 284px;
  background-repeat: repeat-y;
}
.books-row-corner-right-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(225deg, transparent 0px, #6C3F18 0px, #6C3F18 11px, transparent 11px);
  background-size: 100% 316px;
  background-position-y: 284px;
  background-repeat: repeat-y;
}
.books-item-container {
  height: 300px;
  padding-bottom: 8px;
  display: flex;
  align-items: flex-end;
}
.books-item {
  position: relative;
  border-radius: 2px;
}

.wishlist {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.wishlist-item {
  width: 300px;
  border-radius: 10px;
  background-color: #f4f4f6;
  min-width: 0;
}
.wishlist-image {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist-image > img {
  max-width: 75%;
  max-height: 75%;
}
.wishlist-info {
  width: 100%;
  padding: 0 16px 16px;
}
.wishlist-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.75);
  line-height: 1.5;
}
.wishlist-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.4);
  line-height: 1.5;
}

.chess {
  max-width: 368px;
}
