@charset "UTF-8";

:root {
  --background-color: #fffcf0;
  --text-color: #100f0f;
  --text-color-muted: #b7b5ac;
  --action-color: #205ea6;
  --hover-color: #163b66;
  --selection-color: #c6dde8;
  --wishlist-item-bg: rgb(242, 240, 229);
  --wishlist-item-hover: rgb(230, 228, 217);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Mono";
  src: url("fonts/pt-mono-v13-cyrillic_latin-regular.woff2");
}

::selection {
  background: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-color);
}

html {
  font-size: 14px;
  line-height: 1.5;
  background-color: #eee;
}
@media (max-width: 720px) {
  html {
    font-size: 14px;
    line-height: 1.5;
  }
}

body {
  font-family: "PT Mono", monospace;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #888;
  box-shadow: 2px 2px #ccc;
  max-width: 60rem;
  background-color: #fff;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1em;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
}

a {
  color: var(--action-color);
  text-decoration: none;
  word-wrap: break-word;
}

a.muted {
  text-decoration: none;
  color: var(--text-color-muted);
}
a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

table {
  border-collapse: collapse;
  margin: 1.25rem 0;
  table-layout: fixed;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border: 0.0625rem solid var(--text-color-muted);
  height: 2.5rem;
  line-height: 1.2;
}

th,
tr:nth-child(even) {
  background-color: var(--wishlist-item-bg);
}

th:first-child,
td:first-child {
  font-weight: bold;
  width: 7.5rem;
}

.zero {
  color: var(--text-color-muted);
  opacity: 0.5;
}

.total-row {
  font-weight: bold;
  border-top: 2px solid var(--text-color-muted);
}

blockquote {
  padding-left: 1.5em;
  margin: 1.5em 0;
  border-left: 2px solid var(--text-color);
}

.social {
  display: block;
  width: 1.5rem;
}

.container {
  width: 100%;
  padding: 0 0.5rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
@media (max-width: 720px) {
  .flex {
    flex-direction: column;
  }
}

.row {
  display: flex;
  align-items: center;
}

.col {
  width: 50%;
  padding: 0.5rem;
}
.col-9 {
  width: 75%;
  padding: 0.5rem;
}
.col-3 {
  width: 25%;
  padding: 0.5rem;
}

@media (max-width: 720px) {
  .col {
    width: 100%;
  }
  .col-9 {
    width: 50%;
  }
  .col-3 {
    width: 50%;
  }
}

.square {
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 720px) {
  .mh {
    display: none;
  }
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  height: 1.75rem;
  padding: 0.1rem 0.5rem 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  border: 0.1rem solid #000;
  box-shadow: 2px 2px #bbb;
  background: #fff;
}
.btn:hover {
  color: #fff;
  background: #000;
}
.bg-blue {
  background: #205ea6;
}
.white {
  color: #fff;
}

.img-card {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #aaa;
  box-shadow: 2px 2px #ddd;
}

hr {
  height: 1px;
  border: none;
  border-top: 1px dashed #000;
}

img {
  display: block;
  max-width: 100%;
}

i {
  color: var(--text-color-muted);
  font-style: normal;
}

figure {
  margin: 1rem 0 0.5rem;
  padding: 0;
}

figcaption {
  margin-top: 0.25rem;
  color: var(--text-color-muted);
}

.ppr {
  padding-right: 2rem;
}
@media (max-width: 720px) {
  .ppr {
    padding-right: 1rem;
  }
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#avatar {
  animation: rotate-clockwise 2s linear infinite;
  animation-play-state: paused;
  transform-origin: center center;
  will-change: transform;
}

#avatar:hover {
  animation-play-state: running;
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border: 1rem solid #ab7131;
}
.books-row {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  padding: 0 0.5rem;
  flex: 1;
  gap: 1rem 0;
  min-height: 19rem;
  background: 
    /* Vertical gradient for depth */ linear-gradient(
    to right,
    #6f451f 0%,
    #bf9656 45%,
    #bf9656 55%,
    #6f451f 100%
  );
}
.books-row-polka {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(
    to top,
    transparent 0px,
    #ab7131 0px,
    #ab7131 1rem,
    transparent 1rem
  );
  background-size: 100% 20rem;
  background-repeat: repeat-y;
}
.books-row-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    to right,
    transparent 0px,
    #78491f 0px,
    #512e10 1.75rem,
    transparent 1.75rem
  );
  background-size: 100% 20rem;
  background-repeat: repeat-y;
}
.books-row-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    to left,
    transparent 0px,
    #78491f 0px,
    #512e10 1.75rem,
    transparent 1.75rem
  );
  background-size: 100% 20rem;
  background-repeat: repeat-y;
}
.books-row-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    to top,
    #b08a59 0px,
    #623f19 2rem,
    transparent 2rem,
    transparent 12rem,
    #35130a 20rem
  );
  background-size: 100% 20rem;
}
.books-row-corner-left-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    150deg,
    transparent 0,
    #78491f 0,
    #512e10 0.875rem,
    transparent 0.875rem
  );
  background-size: 100% 20rem;
  background-position-y: 18rem;
  background-repeat: repeat-y;
}
.books-row-corner-right-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    210deg,
    transparent 0,
    #78491f 0,
    #512e10 0.875rem,
    transparent 0.875rem
  );
  background-size: 100% 20rem;
  background-position-y: 18rem;
  background-repeat: repeat-y;
}
.books-item-container {
  height: 19rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.books-item {
  position: relative;
  border-radius: 2px;
}
.books-cover {
  display: none;
  position: absolute;
  left: 100%;
  z-index: 1;
  pointer-events: none;
  max-width: none;
}
.books-item:hover + .books-cover {
  display: block;
}

.wishlist {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0;
}
@media (max-width: 720px) {
  .wishlist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .wishlist {
    grid-template-columns: repeat(1, 1fr);
  }
}
.wishlist-item {
  /*  width: 24rem;*/
  border-radius: 0.5rem;
  background-color: var(--wishlist-item-bg);
  min-width: 0;
  position: relative;
}
.wishlist-item:hover {
  background-color: var(--wishlist-item-hover);
}
.wishlist-item:hover .wishlist-image > img {
  transform: translateY(-8px);
}
.wishlist-item a {
  display: block;
  aspect-ratio: 0.88;
  text-decoration: none;
}
.wishlist-image {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist-image > img {
  max-width: 75%;
  max-height: 75%;
  transform: translateY(0px);
  transition: transform 220ms ease-in-out;
}
.wishlist-info {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}
.wishlist-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.wishlist-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-muted);
  line-height: 1.5;
}
.cg-wrap {
  width: 500px;
  height: 500px;
}
@media (max-width: 720px) {
  .cg-wrap {
    width: 300px;
    height: 300px;
  }
  .cg-wrap coords.ranks {
    top: -14px !important;
  }
  .cg-wrap coords.files {
    left: 12px !important;
  }
}
.puzzle-selector {
  margin-bottom: 1rem;
}
.puzzle-controls {
  margin-bottom: 1rem;
}
.puzzle-feedback {
  margin-bottom: 1rem;
}
.puzzle-feedback.success {
  color: green;
}
.puzzle-feedback.error {
  color: red;
}

cg-board {
  background-color: #bfcfdd;
}
