@charset "UTF-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Mono';
  src: url('fonts/pt-mono-v13-cyrillic_latin-regular.woff2');
}

body {
  font-family: 'PT Mono', monospace;
  margin: 1em;
  font-size: 1rem;
  line-height: 1.375;
  color: black;
  background-color: white;
}

header {
  margin-bottom: 3em;
}

nav {
  margin: 1em 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 1em;
}
nav li:last-child {
  margin-right: 0;
}

footer {
  margin-top: 3em;
}

h1 {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: black;
}

.hover-opacity {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hover-opacity:hover {
  opacity: 0.75;
}

.book-author {
  color: rgba(0,0,0,0.4);
}

.wishlist {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.wishlist-item {
  width: 300px;
  border-radius: 10px;
  background-color: #F4F4F6;
  min-width: 0;
}
.wishlist-image {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist-image > img {
  max-width: 75%;
  max-height: 75%;
}
.wishlist-info {
  width: 100%;
  padding: 0 16px 16px;
}
.wishlist-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.75);
  line-height: 1.5;
}
.wishlist-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.4);
  line-height: 1.5;
}

.chess {
  max-width: 700px;
}
